In [38]:
import pandas as pd

In [2]:
b_df = pd.read_csv('budget_data.csv')
b_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
total_months = len(b_df.index)
total_months

86

In [4]:
total = b_df.loc[:,'Profit/Losses'].sum()
total

38382578

In [13]:
profit_and_loss_change = (b_df['Profit/Losses'] - b_df['Profit/Losses'].shift(1))
profit_and_loss_change

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [20]:
profit_and_loss_change = pd.concat([profit_and_loss_change, b_df['Date']],axis = 'columns', join = 'inner')
profit_and_loss_change

    Profit/Losses      Date
0             NaN  Jan-2010
1        116771.0  Feb-2010
2       -662642.0  Mar-2010
3       -391430.0  Apr-2010
4        379920.0  May-2010
..            ...       ...
81      -665765.0  Oct-2016
82       693229.0  Nov-2016
83      -734926.0  Dec-2016
84        77242.0  Jan-2017
85       532869.0  Feb-2017

[86 rows x 2 columns]

In [21]:
profit_and_loss_change = profit_and_loss_change.dropna()
profit_and_loss_change

    Profit/Losses      Date
1        116771.0  Feb-2010
2       -662642.0  Mar-2010
3       -391430.0  Apr-2010
4        379920.0  May-2010
5        212354.0  Jun-2010
..            ...       ...
81      -665765.0  Oct-2016
82       693229.0  Nov-2016
83      -734926.0  Dec-2016
84        77242.0  Jan-2017
85       532869.0  Feb-2017

[85 rows x 2 columns]

In [22]:
profit_and_loss_change.set_index(profit_and_loss_change['Date'], inplace = True)
profit_and_loss_change

          Profit/Losses      Date
Date
Feb-2010       116771.0  Feb-2010
Mar-2010      -662642.0  Mar-2010
Apr-2010      -391430.0  Apr-2010
May-2010       379920.0  May-2010
Jun-2010       212354.0  Jun-2010
...                 ...       ...
Oct-2016      -665765.0  Oct-2016
Nov-2016       693229.0  Nov-2016
Dec-2016      -734926.0  Dec-2016
Jan-2017        77242.0  Jan-2017
Feb-2017       532869.0  Feb-2017

[85 rows x 2 columns]

In [23]:
profit_and_loss_change.drop(columns = ['Date'], inplace = True)
profit_and_loss_change

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

          Profit/Losses
Date
Feb-2010       116771.0
Mar-2010      -662642.0
Apr-2010      -391430.0
May-2010       379920.0
Jun-2010       212354.0
...                 ...
Oct-2016      -665765.0
Nov-2016       693229.0
Dec-2016      -734926.0
Jan-2017        77242.0
Feb-2017       532869.0

[85 rows x 1 columns]

In [24]:
average_change = profit_and_loss_change.loc[:,'Profit/Losses'].mean()
average_change

-2315.1176470588234

In [25]:
average_change = round(average_change, 2)
average_change

-2315.12

In [26]:
greatest_increase = profit_and_loss_change.loc[:,'Profit/Losses'].max()
greatest_increase

1926159.0

In [27]:
greatest_increase_index = profit_and_loss_change.loc[:,'Profit/Losses'].idxmax()
greatest_increase_index

'Feb-2012'

In [28]:
greatest_decrease = profit_and_loss_change.loc[:,'Profit/Losses'].min()
greatest_decrease

-2196167.0

In [29]:
greatest_decrease_index = profit_and_loss_change.loc[:,'Profit/Losses'].idxmin()
greatest_decrease_index

'Sep-2013'

In [36]:
print("Financial Analysis")
print("--------------------------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_index} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_decrease_index} (${greatest_decrease})")

Financial Analysis
--------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [39]:
from pathlib import Path

In [49]:
filepath = Path ("C:/Users/Rodtwo/Documents/FinTech_BootCamp/python-homework/PyBank/financial_analysis.txt")
f = open(filepath,'w')
f.write("Financial Analysis \n")
f.write("-------------------------------------------- \n")
f.write(f"Total Months: {total_months} \n")
f.write(f"Total: ${total} \n")
f.write(f"Average Change: ${average_change} \n")
f.write(f"Greatest Increase in Profits: {greatest_increase_index} (${greatest_increase}) \n")
f.write(f"Greatest Decrease in Profits: {greatest_decrease_index} (${greatest_decrease}) \n")
f.close()